@charset "utf-8";
/* CSS Document */
/* This is the general CSS style used for all pages.
   It mainly sets the fonts, background, header, footer, 
   and other common elements.
   The difference for each page should be contained within its'
   own .content div.
   */
* {
	margin: 0;
	padding: 0;
}
/*h1, h2, h3, h4, h5, h6, p, a {
	color: #fff;
}*/

/* see http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
 * for the #container, header, #bodyContent(content, nav), footer design pattern
 */
html, body {
   margin:0;
   padding:0;
   height:100%;
   font-family: 'Oxygen', sans-serif;
}

#bodyContent {
	padding-top: 30px;
}

#container { 
	min-height:100%;
	height:100%;
    position:relative;
	top: 0;
	bottom:0;
	left:0;
	right:0;
}

#slideshow {
	position:absolute;
	z-index: -1;
	width:100%;
	height:100%;
	top: 0;
	left: 0;
		
}

#slideshow img {
	position: absolute;
	width:100%;
	height:100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

#slideshow img.active {
	z-index: 3;
}

header {
	/*position: absolute;*/
	background-color: rgba(30,26,56,.5);
	background:-webkit-linear-gradient(top, rgba(30,26,56,1) 0%, rgba(30,26,56,0) 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0, rgba(30,26,56,1), color-stop(1, rgba(30,26,56,0.25)) ));
	background:-moz-linear-gradient(top, rgba(30,26,56,1) 0%, rgba(30,26,56,0.25) 100%);
    background:-ms-linear-gradient(top, rgba(30,26,56,1) 0%, rgba(30,26,56,0.25) 100%);
 	display: block;
	height: 50px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 10px;
}

#headerLogo {
	height: 100%;
	vertical-align: middle;
	float: left;
	margin-left: 20px;
}
/* see #5 of http://blog.themeforest.net/tutorials/vertical-centering-with-css/ */
#headerText {
	float: right;
	margin-right: 20px;
	height: 50px;
	line-height: 50px
}

#headerText a {
	color: #FFD300;
}


#headerText a:hover{
	text-decoration: none;
}


/* ~~ The footer ~~ */

footer {
	/*position:absolute;
	height: 20px;
	z-index: 90;
	background-color: rgba(30,26,56,.5);
	background:-webkit-linear-gradient(bottom, rgba(30,26,56,1) 0%, rgba(30,26,56,0.25) 100%);
	background:-webkit-gradient( linear, left bottom, left top, color-stop(0, rgba(30,26,56,1), color-stop(1, rgba(30,26,56,0.25)) ));
	background:-moz-linear-gradient(bottom, rgba(30,26,56,1) 0%, rgba(30,26,56,0.25) 100%);
    background:-ms-linear-gradient(bottom, rgba(30,26,56,1) 0%, rgba(30,26,56,0.25) 100%);*/
	position:fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	padding-top: 30px;
	background-color: rgba(0,0,0, 0.5);
	
}

footer p,footer a,footer a:visited {
	font-size:10px;
	color: #FFF;
	vertical-align:middle;
	white-space:nowrap;
	text-align:center;
}


/* ~~ The .content, for holding the main contant of each page ~~ */
.content {
	/*padding: 10px;
	padding-bottom: 20px;
	width: 990px;
	height: 520px;
	margin: 0 auto;*/
	width: 80%;
	margin: 0 auto;
}

/* ~~ The button for jumping between pages ~~ */
/* This imageless css button was generated by CSSButtonGenerator.com */

/*input[type=button] {
	display: inline-block;
	margin: 0 3px 0 0;
	padding: 5px 12px 6px;
	border: 1px solid rgba(100,100,100,.75);
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.1);
	color: #222;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(255,255,255,.60);
	font-size: 13px;
	line-height: 1.3em;
	cursor: pointer;
	-webkit-transition: all linear .1s;
	transition: all linear .1s;
}
*/
button {
	
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	
	background-color:#ffffff;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	
	border:1px solid #c5c5c5;
	
	display:inline-block;
	color:#666666;
	font-size:15px;
	padding:15px 24px;
	text-decoration:none;
	
	text-shadow:0px 1px 0px #ffffff;
	
}
button:hover {
	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	
	background-color:#f6f6f6;
}
button:active {
	position:relative;
	top:1px;
}

nav {
	/*width: 100%;
	margin: 0 auto;
	padding-bottom: 20px;*/
	text-align: center;
	padding: 30px 0;

}

/*nav .navButton {
	-moz-box-shadow:inset 0 1px 0 0 #bbdaf7;
	-webkit-box-shadow:inset 0 1px 0 0 #bbdaf7;
	box-shadow:inset 0 1px 0 0 #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2BA221), color-stop(1, #2BA221) );
	background:-moz-linear-gradient( center top, #2BA221 5%, #2BA221 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#2BA221;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #2BA221;
	display:inline-block;
	color:#FFF;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0 #528ecc;
	margin-top: 50px;
	}*/
/*nav .navButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}*/
/*nav .navButton:active {
	position: relative;
	top: 1px;
}

nav a:link {
	color: #FFF;
	text-decoration: none;
}

nav a:visited {
	color: #FFF;
	text-decoration: none;
}*/
/*nav a:hover, a:active, a:focus {  this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. 
	text-decoration: none;
}*/	
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color:#414958;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #4E5869;
	text-decoration: none;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: underline;
}
/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0;
}
